@model OMNext.Models.Administrator
@{
    ViewData["Title"] = "Delete Administrator";
}

<div class="container">
    <h2 class="light-text">Delete Administrator</h2>

    <div class="col-md-12 pt-2 bg-light opac-85 pb-2">
        <p class="text-danger">@ViewData["ErrorMessage"]</p>
        <h3>Are you sure you want to delete this Administrator?</h3>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                    @Html.DisplayFor(model => model.LastName)
                </dd>
            </dl>

            <form asp-action="DeleteAdministrator">
                <input type="hidden" asp-for="AdministratorID" />
                <input type="submit" value="Delete Administrator" class="btn btn-primary" />
                <input type="button" class="btn btn-default" value="Go Back" onclick="location.href='@Url.Action("Index", "Administrators")'" />
            </form>
        </div>
    </div>
</div>